body h1 h2 h3 h4 h5 p div{
  font-family: arial, helvetica !important;
}


.header {
  padding: 10px;
  background-color: #fff;
  text-align: left !important; 
}

.header h1{
  font-size: 27px !important;
  color: #8d92f8;
  padding: 10px;
}

.title{
  padding:60px;
  background-color: #ff9218;
}

.title .wrapper{
  width: 700px;
  margin: 0 auto;
}

.title h2{
  color: #fefdd5;
  font:normal 36px;
  margin-bottom: 40px;
}

.title h4{
  font-size: 18px normal;
  color: #fefdd5;
  margin-bottom: 20px;
}

.business .dropdown-menu{
  width:500px;

}

.business .businessBtn{width:500px;}

 .mid-section h4{
  font: normal 18px;
  margin: 20px 0;
  color: #8d92f8;
 }

 .mid-section .or{
  margin: 5px;
  font-size: 18px;
 }

.mid-section button{
  padding:15px;
  color: #000;
  font-size: 18px;
  margin: 15px;
  width:220px;
}

.mid-section button:hover{

  background-color:#8d92f8;
  color:#fff;
}


.btn-row {
  margin: 10px;
}

.mid-section {
  background-color: #f4f3d4;
  text-align: center;
  padding: 20px;
}

.top-section {
  margin:0 auto;
  text-align: center;
  
  padding:15px;
}
.top-section form {width:900px !important; margin: 0 auto;}

.top-section input {
  font-size: 22px;
  width:500px;
  margin-bottom: 20px;
}

.submitBtn{display:inline-block; height:65px; width:200px; padding:15px; text-align: center; color: #fff; background-color: #8d92f8; border:1px solid #999; font-size:22px;}
.submitBtn:hover{text-decoration: none; color: #000; background-color: #fff; }
.business_name{
  font: bold 27px;
  color: #999;
  margin-bottom: 20px;
}

.first-bottom {
  background-color: #0086D4;
}

.second-bottom {
  background-color: #00A7F7;
}

.bottom-bottom {
  background-color: #9B9C9E;
}

.header-line {
  background-color: #FFED18;
}

.row img {
  margin: 30px 0px;
}

.parameters button {
  margin: 10px 3px;
  padding: 7px;
}

.footer {
  margin: 20px 0px;
}

button a {
  color: black;
}
