<!DOCTYPE html>

<html>
	<h2>Build Me Mine</h2>
<body>
<head>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<form enctype='application/json'>
Business name:<br>
<input id="business_name" type="text" name="businessname" onBlur="validateName(businessname)">
<br>
Business type:<br>
<input id="business_type" type="text" name="businesstype">
<br>
Location:<br>
<input id="business_location" type="text" name="location">
<br>
Hours:<br>
<input id="business_hours" type="text" name="businesshours">
<br>
Phone number:<br>
<input id="phone_number" type="text" name="phonenumber">
<br>
What is the tone of your business?<br>
<br>
<select id="business_tone">
  <option value="sophisticated">Sophisticated</option>
  <option value="friendly">Friendly</option>
  <option value="clean">Clean</option>
  <option value="badass">Badass</option>
<option value="calm">Calm</option>
<option value="hip">Hip</option>
<option value="stylish">Stylish</option>
</select>
<br>
Customers:
<br>
Ages: <br>
<form action="" id="customer_age">
<input type="checkbox" name="young" value="Bike">18-24<br>
<input type="checkbox" name="old" value="Car">25-35<br> 
<input type="checkbox" name="older" value="Car">36-45<br> 
<br>
<br>
<br>
<input type="submit" value="Submit">
</form>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>

</html>